/* PRODUCT-ZONE */
.product-show {
    display: flex;
    flex-wrap: wrap;
    max-height: 1000px;
    overflow: auto;
}

.product {
    background-color: #fff;
    margin: 10px;
    @include center;
    flex-direction: column;
    width: 244px;
    height: 315px;

    p {
        color: red;
        font-size: 18px;
        font-weight: 600;
    }
    .product-info {
        @include center;
        width: 100% ;
        flex-direction: column;
        background-color: $grey;
    }

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

.product-img {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 190px;
    object-fit: cover;
    margin-bottom: 10px;
    background-size: cover;
    transition: all .1s;
    @include center;
    img {
        @include square(inherit);
    }
}


.product-saved .product-img {
    filter: none;
}

.btn-purchase {
    background-color: red;
    border-radius: 20px;
    &:hover {
        scale: 1.1;
        transition: .5s;
        background-color: red;
    }
}