//Colors
$yellow: #fef200;
$blue: #0cb1ee;
$black: #231f20;
$grey: #e6e1e7;
$green: #3a803d;
$red: #da2c38;

//font-size
$fs-1: .64rem;
$fs-2: .8rem;
$fs-3: 1rem; 
$fs-4: 1.25rem; 
$fs-5: 1.953rem; 
$fs-6: 3.052rem; 

//font-weight
$fw-8: 800;
$fw-7: 700;
$fw-6: 600;
$fw-5: 500;
$fw-4: 400;
$fw-3: 300;
$fw-2: 200;
$fw-1: 100;

//font-family
$primaryFont: 'Open Sans, san-serif';
$secondaryFont: 'Raleways, san-serif';



