/*ADMIN PAGE*/
$admin-header-height: 60px;
$admin-sidebar-width: 50px;

body {
    background-color: $grey;
}

.admin__header {
    height: $admin-header-height;
    background-color: $secondaryColor;

    .logo {
        width: 200px;
        background-color: $secondaryColor;

        &>* {
            color: #fff
        }

        ;
    }

    @include box-shadow(0px, 0px, 10px, 1px, #888);
}

.admin__sidebar {
    background-color: #fff;
    width: $admin-sidebar-width;
    height: 100vh;
    position: fixed;
    left: 0;
    @include center;

    a {
        width: $admin-sidebar-width * 0.8;
        background-color: $primaryColor;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0 10px 0;
        color: #333;
        @include center
    }
    i {
        font-size: 20px;
    }

}

.admin__main {
    background-color: #333;
    width: 100%;
    margin-left: 80px;
}