/*Product Page*/
$product-rounded: 8px;

.product {
    .product-zone {
        background-color: #fff;
        border-radius: $product-rounded;
        h2 {
            text-transform: uppercase
        }

        .product-image {
            @include border(0, 1px, 0, 0, solid, #eee, 0);
            cursor: pointer;
        }

        .star,
        .half-star {
            color: $primaryColor;
        }

        #branch {
            text-transform: uppercase;
        }

        .product-price {
            position: relative;
            width: 200px;

            #price-original {
                text-decoration: line-through;
                font-weight: 400;
                font-size: 1rem;
                color: gray;
                position: absolute;
                bottom: 2px;
                right: 0;
            }

            #price {
                font-size: 1.5rem;
                color: red;
                font-weight: 600;

            }

        }
    }
    .swiper {
        @include square(400px);
        @include spacing-0;
    }

    .swiper-slide {
        text-align: center;
        font-size: 1rem;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        top: 5vh;
        left: 0;
    }

    .swiper-slide img {
        display: block;
        @include square(95%);
        object-fit: cover;
    }

    .swiper-pagination-bullet-active {
        background: $primaryColor;
    }
}